<div class = "container mt-5">
  <router-outlet></router-outlet>
  <div class="container">
    <div class="card">
      <h2 [style.text-align]="'center'">Users</h2>
      <div class="card-body">
        <table class = "table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Enail</th>
            <th>Image</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let user of users" >
            <td> {{ user.first_name }} </td>
            <td> {{ user.email }} </td>
            <td>
              <img
              src="{{user.avatar}}"
              class="img-responsive">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>